<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <script src="../static/files/js/bootstrap.js"></script>
    <style>
    
        
        .container{
            margin-left: 200px;
        }
    </style>
    <link rel="icon" type="image/png" sizes="256x256" href="../static/images/logo.png">

</head>
<body class="bg">
    {%include'Navbar.html'%}
    <br><br><br>
    <br>
    <br><br><br>
    <br><br> 

    <div class="container form-center" style="margin-left: 17rem;" >
        <section class="row">
            <div class="col-md-6 ms-5 card shadow p-2 bg-dark">
                <h5 class="display-6 text-warning">UPLOAD YOUR COMMENT</h5>
                b
                <form action="/comment" method="post" enctype="multipart/form-data">
                    <input type="text" required name="username" placeholder="Enter your UserName" id="" class="form-control">
                    <br>
                    <br>
                    <select name="comment_category" class="form-control"> 
                        <option value="positive" name="positive">Positive</option>
                        <option value="negative" name="negative">Negative</option>                       
                    </select>
                    <br>
                    <br>
                    <textarea name="comment" placeholder="Enter Your COMMENT About Our Services" class="form-control" required="" cols="10" rows="4"></textarea><br>
                    <input type="submit" value="Comment" class="btn-success">
                </form>
                <b class="text-success">{{message}}</b>
            </div>
        </section>
    </div>
    <br>
    
    {%include'footer.html'%}
</body>
</html>