<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Education</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <link rel="icon" type="image/png" sizes="256x256" href="../static/images/logo.png">

</head>
<body class="m-5 p-5 bg-dark">
    {%include'Navbar.html'%}
    <h2 class="text-center text-light  p-5 m-5">WHO IS ALVIN M. MBURU </h2>
    <p class="text-center text-warning bg-dark">I was a student in the school in Westlands in Nairobi county and i am a graduate at Modcom Institute of technology and you can refer to me as software developer and can do all things you wnt to do on your web site and i can also check any problem on your computer.</p>
    <h2 class="text-center text-light ">INFOMATION ABOUT ALVIN MBURU</h2>
    <p class="text-center text-warning bg-dark">Alvin mburu is a good and a honest person when doing my work at school and also i have done many jobs with differnt companies and they have given me a rate of five star when i was working with them and all have been wonting to reemploy me for my honesty during my work with them...</p>
    <h2 class="text-center text-light">HOW LONG IS ALVIN ON THE COMPANY OF DEVELOPMENT</h2>
    <p class="text-center text-warning bg-dark">I have been on the site since my graduation on the past two months of the year and we have always done our thng as good as we can and swear that we will offer the wolrd with our skills and to get our dairy bread on time.</p>
{%include'footer.html'%}

</body>
</html>