<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer </title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" sizes="256x256" href="../static/images/logo.png">

    <style>
        body{
            background-image: url("../static/images/background.jpeg");
            background-size: cover;
        }
    </style>
</head>
<body class="">

    <section class="row  bg-dark text-white">
        <div class="col-md-12 text-center">
            <h2>Contact Us</h2>
            <ul>
                <li type="none">
                    <i class=" bx-envelope text-primary fs-xl "></i>
                    <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">alvinmiringu2005@gmail.com.com</a>
                </li>
                <li type="none">
                    <i class="bx bx-map text-primary fs-xl me-3"></i>
                    <a>Muranga, Kenya</a>
                </li>
                <li type="none">
                    <i class="bx bx-phone-call text-primary fs-xl me-3"></i>
                    <a href="tel:+25429-967389">(+254)-29-967389</a>
                </li>
            </ul>
            
            <p><b class="text-success bg-light p-2">Our Theme  <b class="text-center" style="size: 10px;"></b>:</b>      We look our best to do our best</p> 
            <br><br><br><br>          
        </div>
    </section>


    <footer class="bg-dark text-white text-center fixed-bottom">
        <br>
        <section class="container">
            <div class="row">
                <a href="/" target="_blank" class="gdlr-core-social-network-icon" title="Home">
                    <img src="../static/images/Untitled_logo_2_free-file.jpg" width="43" height="43" alt="logo">
                </a>
                <div class="col-md-6 text-light bg-dark text-center">
                        
                    <p>Copyright © <span id="current-year">2024</span> | All rights reserved | Developed by Alvin M Mburu</p>
                </div>
                <div class="col-md-6 text-white bg-dark">
                    <a href="https://www.facebook.com" target="_blank" class="gdlr-core-social-network-icon" title="Facebook">
                        <img src="../static/images/fb.png" width="32" height="32" alt="Facebook">
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="gdlr-core-social-network-icon" title="Instagram">
                        <img src="../static/images/in.png" width="32" height="32" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com" target="_blank" class="gdlr-core-social-network-icon" title="Linkedin">
                        <img src="../static/images/li.png" width="32" height="32" alt="Linkedin">
                    </a>
                    <a href="https://www.tiktok.com" target="_blank" class="gdlr-core-social-network-icon" title="Tiktok">
                        <img src="../static/images/tt.png" width="32" height="32" alt="Tiktok">
                    </a>
                    <a href="https://www.twitter.com" target="_blank" class="gdlr-core-social-network-icon" title="Twitter">
                        <img src="../static/images/x.png" width="32" height="32" alt="Twitter">
                    </a>
                    <a href="https://www.youtube.com" target="_blank" class="gdlr-core-social-network-icon" title="Youtube">
                        <img src="../static/images/yt.png" width="32" height="32" alt="Youtube">
                    </a>
                </div>
            </div>
        </section>
    </footer> 
   
</body>
</html>