<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP</title>
    <link rel="stylesheet" href="../static/files/css/bootstrap.css">
    <script src="../static/files/js/bootstrap.js"></script>
    <link rel="icon" type="image/png" sizes="256x256" href="../static/images/logo.png">

    
</head>
<body class="m-5 bg-dark p-5">
  {%include'Navbar.html'%}
    <section class="container">
        <div class="bg-secondary py-6 px-3 px-sm-4 px-md-0">
          <h2 class="text-center pt-md-1 pt-lg-3 pt-xl-4 pb-4 mt-xl-1 mb-2 display-5 text-warning p-2 pt-3"></h2>
           <h2 class="text-center pt-md-1 pt-lg-3 pt-xl-4 pb-4 mt-xl-1 mb-2 display-5 text-warning p-2 pt-3">Frequently Asked Questions</h2>
          <div class="row justify-content-center pb-lg-4 pb-xl-5">
            <div class="col-md-6">
              <div class="accordion" id="faq">


                <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                  <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-1" aria-expanded="false" aria-controls="q-1">1. What types of foods is in our stalls or if is to be trusted by coustomersand if is always available at your stalls?</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="q-1" data-bs-parent="#faq" style="animation: reverse;">
                    <div class="accordion-body fs-sm pt-0">
                      <p>We offer a range of luxurious foods, including deluxe offers, suites, and premium suites. Each type of food is is grown with modern sophistication and equipped with top-notch amenities to ensure a lavish and comfortable  when eating</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                  <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-2" aria-expanded="false" aria-controls="q-2">2. Can you provide details about the cleaning facilities at your company?</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="q-2" data-bs-parent="#faq" style="animation: reverse;">
                    <div class="accordion-body fs-sm pt-0">
                      <p>Our Company boasts cutting-edge of cleaning facilities and state-of-the-art in all of our products. From high-agricuturul Farms and also equipment to versatile products on our configurations, we provide the perfect products for successful and innovative products.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                  <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-3" aria-expanded="false" aria-controls="q-3">2.Are there any special packages or promotions available for bulk buying of goods in your company, and how much percent of the goods bought?</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="q-3" data-bs-parent="#faq" style="animation: reverse;">
                    <div class="accordion-body fs-sm pt-0">
                      <p>Yes, we frequently offer special packages and promotions.Always make sure that you ar on the dot when the buying process and you will get an offer of 30% of the good you bought on the time and your package will be deriverd to your door step in a range of two and three hours from your time of pourchase and if there is any error contact our reservations team to inquire about current deals, including exclusive discounts for Bulk and conference packages.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                  <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-4" aria-expanded="false" aria-controls="q-4">What measures are in place to ensure the safety and well-being of guests during their stay?</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="q-4" data-bs-parent="#faq">
                    <div class="accordion-body fs-sm pt-0">
                      <p>Your safety is our top priority. We have implemented stringent health and hygiene protocols, including regular sanitization, contactless check-in/out, and adherence to all recommended guidelines. Our staff is well-trained to provide a secure and comfortable environment for our guests.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0 rounded-3 shadow-sm mb-3">
                  <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-5" aria-expanded="false" aria-controls="q-5">Is there complimentary Wi-Fi available in the rooms and conference areas?</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="q-5" data-bs-parent="#faq">
                    <div class="accordion-body fs-sm pt-0">
                      <p>Yes, we understand the importance of staying connected. Complimentary high-speed Wi-Fi is available throughout the hotel, including rooms and conference spaces, ensuring seamless connectivity for both business and leisure travelers.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item border-0 rounded-3 shadow-sm">
                  <h3 class="accordion-header">
                    <button class="accordion-button shadow-none rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#q-6" aria-expanded="false" aria-controls="q-6">Can I host private events or celebrations at your hotel, aside from conferences?</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="q-6" data-bs-parent="#faq">
                    <div class="accordion-body fs-sm pt-0">
                      <p>Absolutely! Our hotel offers versatile event spaces for a variety of occasions, including weddings, celebrations, and private gatherings. Our experienced event planning team is dedicated to ensuring your special event is a memorable and sophisticated affair.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
    
{%include'footer.html'%}
</body>
</html>