<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" sizes="256x256" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">

    
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/script.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
</head>
<style>
    body{
        background-image: url("../static/images/background.jpeg");
        background-size: cover;
        background-position: fixed;
    }
    .img{
            transition: 2s;
        }
        .img:hover{
            transform: scale(1.1);
        }
        span{
            transition: 2s;
        }
        span:hover{
            transform: scale(2);
        }
        card{
          background-color: darkslategrey;
        }

</style>
<body class="bg m-2">
    {%include 'Navbar.html'%}
    <br>
    <br>
    <br>
    <!-- <br> -->
    <!-- <br> -->
    <!-- <br>
    <br>
    <br>
    <br> -->
    {%include'carousel.html'%}   
    <!-- <br>
    <br> -->
    <br>
    <br>
    <marquee behavior="scrol" direction="top">
        <h1 class="bg-dark fixed-bg text-light">FRUITS </h1>
    </marquee>
    <!-- <br>
    <br> -->
    <br>
    <br>
    
    <section class="row">
        <div class="col-md-6 text-black bg-white text-center">


         
            <section class="slider p-4">
                <ul class="cs-hidden autoWidth">
                    {% for item in fruit%}
                        <li>
                            <div class="box bg-info">
                                <div class="slide-img">
                                    <img src="../static/images/{{item[5]}}" alt="{{item[1]}}" class="text-light" width="25%" height="25%">
                                    <div class="overlay">
                                        <a href="/tobuy/{{item[0]}}" class="buy-btn"> Buy Now</a>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    {{item[1]}} <br>
                                    <b class="text-warning">KES {{item[3]}}</b>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
        
                </ul>
            </section>


            


            
            <!-- <img src="../static/images/banana.avif" class="img-fluid rounded img" alt="sweet bananas from all over kenya ad the world" style="max-width: 100%; height: 400px;" title="Banana"> -->
        </div>
        <div class="col-md-6 text-black bg-white text-left p-5">
            <h2 class="text-dark">these are some of the fruits we offer..</h2>
            <p>Welcome to Our Company and make your oder to get more offers, where agricuturul committee are found and you should be sure that all the fruits are good if yiu will like to confirm with them that we deal with good and fime products elegance meets all the sweetness required. The fruit of our growing is a testament to timeless desition to reduse grobal warming, seamlessly blending sophistication with a welcoming atmosphere</p>

            <a href="/fruits" class="btn btn-success">View More</a>
            <br>
            <br>
            <br>
            <p>We are also serching for personels who are able to ccatch up with the programme in hte system to which we are providing to the people who have the skills to work at the farm.</p>
        </div>
    </section>
    <br>


    <marquee behavior="scrol" direction="top">
        <h1 class="text-dark ">VEGETABLES </h1>
    </marquee>
    <br>

    <section class="row p-2 m-2">
        <div class="col-md-6 text-black bg-white">
            <h2 class="text-dark">These are Bitroot On our Farm...</h2>
            <p>in order to preserve the environment we are surpossed to work from the stomach to enable us to the fullest and the slogan that an aple a day keeps a doctor awayis true because only 1% of our worker complaine that they are sick in an year...</p>
            <br>
            <br>
            <a href="/vegetables" class="btn btn-success">View More</a>
            <br>
            <br>
            <p>Our vegetables are full of vegetable and can provide all the required vitamins requiredby our bodies and we use all the nutrients in our bodies.
            </p>
        </div>
        <div class="col-md-6 text-black bg-white text-left p-5">
            <a href="/vegetables">




                <section class="slider p-4">
                    <ul class="cs-hidden autoWidth">
                        {% for item in vegetable%}
                            <li>
                                <div class="box bg-info">
                                    <div class="slide-img">
                                        <img src="../static/images/{{item[5]}}" alt="{{item[1]}}" class="text-light" width="25%" height="25%">
                                        <div class="overlay">
                                            <a href="/tobuy/{{item[0]}}" class="buy-btn"> Buy Now</a>
                                        </div>
                                    </div>
                                    <div class="detail-box">
                                        {{item[1]}} <br>
                                        <b class="text-warning">KES {{item[3]}}</b>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
            
                    </ul>
                </section>
                <!-- <img src="../static/images/bitroot.avif" class="img-fluid rounded img" alt="bitroot grown in kenya are sweet and are amizing when changing their colour during cooking" style="max-width: 100%; height: 400px;" title="Bitroot"> -->
            </a>
        </div>
    </section>


    <br>
    <br>
    <br>

    <marquee behavior="scrol" direction="top">
        <h1 class=" text-dark">TOOLS </h1>
    </marquee>
    <br>
    <br>
    <br>
    <br>

    <section class="row p-2 m-2">
        <div class="col-md-6 text-black bg-white text-left p-5">
            <img src="../static/images/forkjembe3.jpeg" class="img-fluid rounded img" alt="this is a tool that is used to plug bad and hamful weeds that grow on your farm and that is an asurerance that they arte good in their job and when using them." style="max-width: 100%; height: 400px;" title="jembe">
        </div>
        <div class="col-md-6 text-black bg-white">
            <h2 class="text-dark">Jembe...</h2>
            <br><br>
            <p>these is a sample of the tools we have on our tool store making sure that all our tols are not misplaced and are useful in the farm usualy making sure that we have a good relation with our customers.</p>

            <br>
            <br>
            <p>Our tool are made to stay for along time ulike others in the same tools thet you may opt to buy I know that we have to make no promises to you until you see for your self. See more tools on clicking these button...<a href="/tools" class="btn btn-success">View More tools</a></p>
        </div>
    </section>
    <br><br><br>
    <section class="row p-2 m-2">
        <div class="col-md-6 text-black bg-white">
            <h2 class="text-dark">These are some of the offer that awits for you on you purchace...</h2>
            <p>in order to preserve the environment we are surpossed to work from the stomach to enable us to the fullest and the slogan that an aple a day keeps a doctor awayis true because only 1% of our worker complaine that they are sick in an year...</p>
            <br>
            <br>
            <a href="/vegetables" class="btn btn-success">View More</a>
            <br>
            <br>
            <p>these are some of the promotional offers you get when you purchace more products in our stals oder more get more promotions on the derivery</p>
        </div>

        <div class="col-md-6 text-black bg-white text-left p-3">
            <a href="">
                <img src="../static/images/milk.avif" class="img-fluid rounded img" alt="milk" style="max-width: 75%; height: 200px;" title="Milk">
                <img src="../static/images/deriver.avif" class="img-fluid rounded img" alt="deriver" style="max-width: 75%; height: 200px;" title="Ford">
                <img src="../static/images/oppo.jpeg" class="img-fluid rounded img" alt="oppo" style="max-width: 75%; height: 200px;" title="Oppo">
                <img src="../static/images/trip.avif" class="img-fluid rounded img" alt="trip" style="max-width: 75%; height: 200px;" title="Trip to Mt Everest">
            </a>
        </div>
    </section>
    <br><br><br>

{%include'footer.html'%}

</body>
</html>